<div class="jumbotron">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-1">
      <h2>Login</h2>
      <div ng-controller="LoginCtrl">
        <form ng-submit="submit(username, password)">
          <div class="alert alert-danger" ng-if="warnUndefined">
            Unknown username/password. Try again or sign up!
          </div>
          <div class="alert alert-danger" ng-if="warnErr">
            Unknown username/password combo. Double check you have the correct username and password, or sign up for a new account.
          </div>
          <div class="alert alert-danger" ng-if="warnInvalid">
            Please provide a valid username and password.
          </div>
          <div class="alert alert-danger" ng-if="warnLocked">
            Your account is locked.
          </div>

          <input type="text" class="form-control" ng-model="username" placeholder="Email">
          <br/>
          <input type="password" class="form-control" ng-model="password" placeholder="Password">
          <br/>
          <div>
            <a href='/users/password/new' target="_self">Forgot Password?</a>
          </div>
          <br/>
          <input type="submit" value="Login" class="btn btn-default">
          <br/>
        </form>
      </div>
    </div>

    <div class="col-md-1 or-block col-sm-2">
      <h2><!--OR--></h2>
    </div>

    <div class="col-md-3 col-sm-4">
      <img src="https://bigdataboutique.com/images/logo.svg">
    </div>
  </div>

</div>
