<footer class="p-t-20 p-b-20">
  <div class="row">
    <div class="col-md-12 text-center">
      <% footer_links = [
        {
          url: Rails.application.config.terms_and_conditions_url,
          text: 'Terms & Conditions',
        },
        {
          url: Rails.application.config.privacy_url,
          text: 'Privacy Policy',
        },
        {
          url: Rails.application.config.cookies_url,
          text: 'Cookies Policy',
        },
      ] %>

      <% footer_links.each do |link| %>
        <% unless link[:url].blank? %>

          -

          <a href="<%= link[:url] %>" target="_blank">
            <%= link[:text] %>
          </a>
        <% end %>
      <% end %>
    </div>

  </div>
</footer>
